*{
    box-sizing: border-box;
}
body{
background-color: #f2f2f2;
font-family:Helvetica, sans-serif;
}

.topnav
{
color:white;
background-color: #f2f2f2;
overflow: hidden;
padding: 40px;
width:99%;
}

.topnav .right
{
  float: right;
  padding: 14px 16px;
  color:#f9f9f9;
  background-color:#f2f2f2;
  width:5%;
  min-width: 3.5em;
  padding-top: 2px;
}
.topnav .right:hover
{
  color:#f9f9f9;
  background-color: #f2f2f2;
}

.topnav a {
    float: left;
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }


  .topnav a:hover{
    background-color:yellow;
    color:black;
  }
  .topnav input[type="text"]
  {
    float:right;
    padding: 14px 16px;
    width: 30%;
    font-size: medium;

  }
  .dropbtn{
    float: left;
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

  .dropdown-content a {
    float: right;
    color: yellow;
    padding: 12px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  

  .dropdown-content a:hover {
    background-color: yellow;
    color:black;
  }
  

  .dropdown:hover .dropdown-content {
    display: block;

    background-color: yellow;
    color:black;

  }

h1{
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: size 32px;
    
}
.main{
border-radius: 5px;
background-color: #474e5d;
padding: 100px;
}
.row {
    content: "";
    display: table;
    clear: both;
  }
.column{
    float: left;
    width:33%;
    margin-top: 6px;
    padding: 50px;
    border-color: black;
    border-radius: 50px;
    background-color: aliceblue;
}
.card{
    background-color: aliceblue;
    width:90%;
    text-align: center;
    border-color: #474e5d;
}
button{
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
p{
    text-align: justify;
}
@media screen and (max-width: 600px) {
    .column, p {
      width: 100%;
      margin-top: 0;
    }
  }
  .topnav
{
color:white;
background-color: #030608;
overflow: hidden;
padding: 18px;
width:99%;
}

.topnav .right
{
  float: right;
  padding: 14px 16px;
  color:#f9f9f9;
  background-color:#030608;
  width:5%;
  min-width: 3.5em;
  padding-top: 8px;
}
.topnav .right:hover
{
  color:#f9f9f9;
  background-color: #030608;
}

.topnav a {
    float: left;
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }


  .topnav a:hover{
    background-color:yellow;
    color:black;
  }
  .topnav input[type="text"]
  {
    float:right;
    padding: 14px;
    width: 30%;
    font-size: medium;
    overflow: hidden;

  }

  